<div class="text-left ls-toc pull-right">
  <h5>Documentation Index</h5>
  <ul>
    <li>
      <h4><a href="{{ root_path }}/doc/store-setup">Store Setup</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/store-setup">Signing Up</a></li>
        <li><a href="{{ root_path }}/doc/store-setup/payment-plans">Payment Plans</a></li>
        <li><a href="{{ root_path }}/doc/store-setup/google-analytics">Google Analytics</a></li>
      </ul>
    <li>
      <h4><a href="{{ root_path }}/doc/ecommerce-integration">Integration with E-Commerce Systems</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/ecommerce-integration">Integration with Listed E-Commerce Providers</a></li>
        <li><a href="{{ root_path }}/doc/ecommerce-integration/shopify">Shopify</a></li>
        <li><a href="{{ root_path }}/doc/ecommerce-integration/magento">Magento</a></li>
        <li><a href="{{ root_path }}/doc/ecommerce-integration/bigcommerce">BigCommerce</a></li>
        <li><a href="{{ root_path }}/doc/ecommerce-integration/drupal">Drupal</a></li>
        <li><a href="{{ root_path }}/doc/ecommerce-integration/universal">Universal</a></li>
      </ul>
    <li>
	<h4><a href="{{ root_path }}/doc/product-setup">Product List Setup</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/product-setup">Import and Set Up Products and Collections</a></li>
        <li><a href="{{ root_path }}/doc/product-setup/listed-providers">Integration with Listed E-Commerce Providers</a></li>
        <li><a href="{{ root_path }}/doc/product-setup/manual-creation">Manual Creation of Products</a></li>
		<li><a href="{{ root_path }}/doc/product-setup/manual-importation">Manual Importation of Products</a></li>
      </ul>
    <li>
	<h4><a href="{{ root_path }}/doc/object-management">Object Creation and Management</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/object-management">What are Objects?</a></li>
        <li><a href="{{ root_path }}/doc/object-management/products">Products</a></li>
        <li><a href="{{ root_path }}/doc/object-management/external-objects">External Objects</a></li>
		<li><a href="{{ root_path }}/doc/object-management/html-objects">HTML Objects</a></li>
		<li><a href="{{ root_path }}/doc/object-management/prioritize-filter">Prioritizing & Filtering Objects</a></li>
		<li><a href="{{ root_path }}/doc/object-management/image-standards">Image Standards</a></li>
      </ul>
    <li>
	<h4><a href="{{ root_path }}/doc/targeting-products">Targeting Products</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/targeting-products">Targeting Rule Overview & Features</a></li>
        <li><a href="{{ root_path }}/doc/targeting-products/create-edit">Create or Edit Rules</a></li>
        <li><a href="{{ root_path }}/doc/targeting-products/logic-examples">Targeting Rule Logic Examples & Templates</a></li>
		<li><a href="{{ root_path }}/doc/targeting-products/improving-rules">Improving Rules</a></li>
      </ul>
    <li>
	<h4><a href="{{ root_path }}/doc/catalog-layout">Catalog Layout</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/catalog-layout">Catalog Overview</a></li>
        <li><a href="{{ root_path }}/doc/catalog-layout/create-catalog">Creating a Catalog</a></li>
        <li><a href="{{ root_path }}/doc/catalog-layout/customize-edit">Customize and Edit a Catalog</a></li>
		<li><a href="{{ root_path }}/doc/catalog-layout/boxes">Boxes</a></li>
		<li><a href="{{ root_path }}/doc/catalog-layout/graphics-standards">Graphics Standards</a></li>
      </ul>
    <li>
	<h4><a href="{{ root_path }}/doc/payment-systems">Payment Systems</a></h4>
      <ul>
        <li><a href="{{ root_path }}/doc/payment-systems">Using Payment Gateways</a></li>
        <li><a href="{{ root_path }}/doc/payment-systems/paypal">PayPal</a></li>
        <li><a href="{{ root_path }}/doc/payment-systems/shipping-tax">Shipping and Tax</a></li>
      </ul>
    <li>
  </ul>
</div>