<div class="text-left ls-toc pull-right">
  <h5>Documentation Index</h5>
  <ul>
    <li>
      <h4><a href="#">Store Setup</a></h4>
      <ul>
        <li><a href="#">Signing Up</a></li>
        <li><a href="#">Payment Plans</a></li>
        <li><a href="#">Google Analytics</a></li>
      </ul>
    <li>
      <h4><a href="#">Integration with E-Commerce Systems</a></h4>
      <ul>
        <li><a href="#">Integration with Listed E-Commerce Providers</a></li>
        <li><a href="#">Shopify</a></li>
        <li><a href="#">Magento</a></li>
        <li><a href="#">BigCommerce</a></li>
        <li><a href="#">Drupal</a></li>
        <li><a href="#">Universal</a></li>
      </ul>
    <li>
  </ul>
</div>