{% assign page = 'careers' %}
<!DOCTYPE html>
<html>
  <head>
    <title>C# Developer</title>

    {% include 'head' %}
  </head>
  
  <body onload="limespot.init()">
    {% include 'nav' %}
    
    <div class="ls-page ls-text-page">
      <div class="ls-section">
        <h2>C# Developer</h2>
        
        <div class="ls-sub-section text-left">
          <h3>Job Description</h3>
          <p>
            We are seeking a creative and highly skilled senior C# Developer to join the LimeSpot development team. The successful candidate should have a strong understanding of Object Oriented concepts, 5 tier application architecture, SOA, databases, code optimization and a good background in web application concepts.
          </p>
          <p>
            Working with our small team of experienced developers in a Scrum environment you will be responsible for creatively designing, developing and optimizing the internal modules, integration with 3rd parties through various APIs and providing facade web services both as exposed APIs and front-end interfaces within an SOA application platform. Designing and implementing reused libraries and modules to support the business logic rules in an optimized, efficient and high-performing manner is an essential part of this job.
          </p>
          <h3>Responsibilities</h3>
          <ul>
            <li>Develop a thorough understanding of our technology and the value it provides.</li>
            <li>Participate in the design and implementation of back-end modules for all of our product offerings.</li>
            <li>Work as part of the development team to ensure our product offerings are easy to use, visually appealing, and highly customizable for individual client branding.</li>
          </ul>
          <h3>Qualifications</h3>
          <ul>
            <li>Strong understanding of Object Oriented concepts and layered application architecture.</li>
            <li>At least 5 years' experience building C# applications in a web application environment.</li>
            <li>At least 3 years' experience working with relational databases and specifically Microsoft SQL Server.</li>
            <li>Solid understanding of Cloud service concepts and utilization of Microsoft Windows Azure platform.</li>
            <li>Proven ability to work independently towards tight product delivery timelines.</li>
            <li>Experience working in an agile product development environment.</li>
          </ul>
          <h3>How To Apply</h3>
          <p>
            If you think you have skills that would match our needs, we'd like to hear from you. Please email your resume to <a href="mailto:careers@limespot.com">careers@limespot.com</a>.
          </p>
        </div>
      </div>

      {% include 'footer' %}
    </div>

    {% include 'endbody' %}
  </body>
</html>
