{% assign page = 'about' %}
<!DOCTYPE html>
<html>
  <head>
    <title>About LimeSpot</title>

    {% include 'head' %}
  </head>
  
  <body onload="limespot.init()">
    {% include 'nav' %}
    
    <div class="ls-page ls-text-page">

      <div class="ls-section">
        <div class="ls-sub-section">
        <h2>With LimeSpot, two people can go to the same online store and see totally different things.</h2>

        <div class="text-left">
          <h3>New Ideas</h3>
          <p>
  Our diverse team with experience spanning decades and continents was brought together by the realization that social media has transformed most of our social habits, but not those surrounding commerce. We believe that so-called "social commerce" initiatives haven't yet caught on because they have not provided benefits to the consumer. In response, we created an e-commerce technology that both increases sales efficiencies and enhances the end user's experience in multiple ways. 
          </p>

          <h3>Made for the Individual</h3>
          <p>        
  LimeSpot is a B2B e-commerce service that generates social, branded catalogs which are personalized for individual shoppers. It identifies the demographic and interests of a customer based on the profile information they already share on social networks. Then, a LimeSpot-powered store can attune its appearance and content to the person viewing it. The shopper will immediately see the products they are most likely to be interested in: those designed for their gender, age, likes and location. 
          </p>

          <h3>Personalized, Private, Simple and Social</h3>
          <p>
  Besides our core technology that instantly connects shoppers with their favourite products from their favourite brands, we aim to make e-commerce safe and exciting for consumers and businesses. 
  Everyone should be comfortable with the way their online information is used. LimeSpot only accesses a shopper's profile information if they give permission, and then it only accesses the information they already share on social networks. Ultimately, nobody sees the profile information LimeSpot processes. We strive to make this consensual, secure method of data access more profitable than tracking customers without their permission. 
          </p>
          <p>
  We also want to turn solitary online shopping into a social experience, like going to the mall with your friends. That's why the LimeSpot platform has a host of social media features. For example, you can effortlessly find gifts matched to your friends' profiles, tell someone to check out your favourite products, make a wishlist so your mom knows what to get you, and write a review or ask for an opinion. Perhaps even more notably, these social features transform the way commercial information is spread. By directly connecting commerce to social media, LimeSpot amplifies the power of word of mouth immensely.
          </p>
          <p>
  The LimeSpot platform can run all these features on any webpage. A business can have LimeSpot-powered stores on social networks, on their website, and anywhere else they can think of. LimeSpot synchronizes itself with a business' existing e-commerce platform automatically and in realtime, so that the inventory for all these stores is managed from one place.
          </p>
          <p>
      We want companies of all sizes to be able to use LimeSpot, so <b>our first level of service has no monthly fees</b>.
          </p>
        </div>
      </div>
      </div>

      {% include 'footer' %}
    </div>
    
    {% include 'endbody' %}
  </body>
</html>
