/*
 * JD: override of mobile layout
 */

.imageBg #gkHeaderMod {
    padding-bottom:0px;
}

.imageBg #gkHeader {
  background-image: none;
  background-color: rgb(50,50,50);
}

#lsSignup {
  display:none;
}