/*
 * JD: override of mobile layout
 */

.imageBg #gkHeaderMod h1 {
  font-size: 28px;
}

.imageBg #lsHeaderTagline1 {
  display: none;
}

.imageBg #lsHeaderTagline2 h2 {
  font-size: 30px;
  line-height: 30px;
}

.imageBg #lsHeaderTagline2 h3 {
  font-size: 25px;
  line-height: 40px;
}

.imageBg #gkHeaderMod {
    padding-bottom: 300px !important;
    padding-top: 90px !important;
}

.imageBg #gkHeaderMod input[type="submit"] {
  width:inherit;
}

.imageBg #gkHeaderMod .gk-form {
  margin-top: 0;
}

.imageBg #gkHeader {
  background-image: url('../../../images/bg_mobile.jpg');
}

#lsSignup {
  display:none;
}