/*
 * simplicity overrides for limespot.com
 */

/*
 * header/navbar customizations
 */
.imageBg #gkLogo.cssLogo, #gkMenuWrap #gkLogo.cssLogo {
  background-image: url('../../../images/logo.png');
  height: 71px;
  margin-top: 10px;
}

.imageBg #gkHeader {
  background-image: url('../../../images/background.jpg');
}

.imageBg #gkHeader > div:first-child, .page #gkMenuWrap {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  z-index: 1001;
}

body.page #gkMenuWrap {
  height: 81px;
}

body.page nav  > ul > li > a {
  color: #fff;
}

body.page #gkMenuWrap #gkMainMenu {
  margin-top: 11px;
}

/*
 * regular (non-frontpage) layout
 */
article aside {
  display: none;
}

article header {
  margin-bottom: 0px;
}

div.itemBody.containsItemInfo {
  margin-left: 10%;
  margin-right: 10%;
}
/*
article div.itemBody div {
  margin-right: 10%;
}

section.blog-featured {
  margin-left: 10%;
}
*/

#gkMainbody article.item-pageabout div.box.centered {
  padding-top: 10px !important;
  padding-bottom: 25px !important;
  margin-bottom: 0px
}

#gkMainbody article.item-pageabout div.box.centered.inline {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

/*
 * grid/icon layout stuff
 */
.gkIconArea {
  background: none;
  margin-bottom: 0px;
  width: 200px;
  height: 200px;
}

.gkIcons.bi > div {
   width: 50%;
}

box.centered.inline .gkIcons {
  margin-top: 0px;
}

/*
 * submit button color
 */
.imageBg #gkHeaderMod input[type="submit"] {
  background-color: limegreen;
}

.gkHorizontalSlideLeftColumn a.button, a.button {
  background-color: limegreen; 
}
 

/*
 * tesimonials
 */

.gkTestimonials figure {
  margin-bottom: 20px;
}

.gkTestimonials figure img {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.gkTestimonials figcaption {
  border-top: 0;
  background-image: none;
}

.gkTestimonials > div  {
  text-align: center;
}

.gkTestimonials > div > a {
  display: inline-block;
  float: none;
}
/*
 * some utility classes
 */
.lsSuperscript {
  vertical-align: super;
}

h2 span.lsSuperscript {
  font-size: 16px;
} 

/*
 * temporary stuff
 */
.lsRocket1 {
  background-image: url('../images/style1/gkrocket.png');
}

.lsCrop1 {
  background-image: url('../images/style1/gkcrop.png');
}

.lsMobile1 {
  background-image: url('../images/style1/gkmobile.png');
}