/*
 * simplicity overrides for limespot.com
 */

/*
 * header/navbar customizations
 */
 .imageBg #gkHeaderMod h3 {
   color: #fff;
 }

.imageBg #gkLogo.cssLogo, #gkMenuWrap #gkLogo.cssLogo {
  background-image: url('../../../images/logo.png');
  margin-top: 24px;
  /*height: 71px;
  margin-top: 10px;*/
}

.imageBg #gkHeader {
  background-image: none;
  background-color: rgb(50,50,50);
}

.imageBg #gkHeaderMod {
  padding-bottom: 0px;
}

.imageBg #gkHeaderMod .gk-form {
  background: none;
  border: none;
}

.imageBg #gkHeader > div:first-child, .page #gkMenuWrap {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  z-index: 1001;
}

#gkHeader div.row {
  margin-bottom: 4em;
}

#gkHeader div.row:last-child {
  margin-bottom: 0;
}

.imageBg #gkHeaderMod .gk-form {
  margin-top: 0;
}

#gkHeader .img-placeholder {
  border: 1px dashed;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

#gkHeader div.video {
  padding-top:20%;
}

body.page #gkMenuWrap {
  height: 81px;
}

body.page nav  > ul > li > a {
  color: #fff;
}

body.page #gkMenuWrap #gkMainMenu {
  margin-top: 11px;
}

#lsSignup {
  height: 81px;
  float: right;
  margin-left: 10px;
}

#lsSignup a {
  position: relative;
  top: 25%;
}

/*
 * regular (non-frontpage) layout
 */
article aside {
  display: none;
}

article header {
  margin-bottom: 0px;
}

div.itemBody.containsItemInfo {
  margin-left: 10%;
  margin-right: 10%;
}

#gkMainbody article.item-pageabout div.box.centered {
  padding-top: 10px !important;
  padding-bottom: 25px !important;
  margin-bottom: 0px
}

#gkMainbody article.item-pageabout div.box.centered.inline {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

/*
 * grid/icon layout stuff
 */
.gkIconArea {
  background: none;
  margin-bottom: 0px;
  width: 200px;
  height: 110px;
}

.gkIcons > div h2 {
  margin-bottom: 0px; 
}

.gkIcons.bi > div {
   width: 50%;
   margin-bottom:4em;
}

box.centered.inline .gkIcons {
  margin-top: 0px;
}

/*
 * submit button color
 */
.imageBg #gkHeaderMod input[type="submit"] {
  background-color: rgb(75,175,75);
}

.gkHorizontalSlideLeftColumn a.button, a.button {
  background-color: rgb(75,175,75);
}
 

/*
 * tesimonials
 */

.gkTestimonials figure img {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  /*border: 28px solid #f8f8f8;*/
  border: 1px solid #eee;
  margin: 5px;
}

.gkTestimonials figcaption {
  border-top: 0;
  background-image: none;
  text-align: center;
  padding-top: 15px;
}

.gkTestimonials > div  {
  text-align: center;
}

.gkTestimonials > div > a {
  display: inline-block;
  float: none;
}

/*
 * some utility classes
 */
.lsSuperscript {
  vertical-align: super;
}

h2 span.lsSuperscript {
  font-size: 16px;
} 

.marg-bot-1 {
  margin-bottom: 0.5em !important;
}

p.lsLeftwise {
clear: both;
font-size: 18px;
font-weight: 300;
}

.gkCentered {
  margin-bottom:0.5em;
}

ul.bullet {
  margin-left: 40px;
}

ul.bullet li {
  list-style-type: disc;
  border-bottom: 0;
  padding: 0px 0px;
}

/*
 * icons
 */
.lsIcon {
  text-align: left;
  background-repeat: no-repeat;
  background-position-y: 50%;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lsIcon-personal {
  background-image: url('../../../images/personal.png');

}

.lsIcon-secure {
  background-image: url('../../../images/secure.png');
  /*padding-left: 26px;*/
}

.lsIcon-easy {
  background-image: url('../../../images/easy.png');
  /*padding-left: 31px;*/
}

.lsIcon-fun {
  background-image: url('../../../images/fun.png');
  /*padding-left: 28px;*/
}

.gkIconArea > a {
  background-repeat: no-repeat;
}
.lsNewSalesChannel {
  background-image: url('../../../images/new_sales_channel.png');
}
.lsTargetYourProducts {
  background-image: url('../../../images/target_your_products.png');
}
.lsSeamlessIntegration {
  background-image: url('../../../images/seamless_integration.png');
}
.lsBrandedCatalogs {
  background-image: url('../../../images/branded_catalogs.png');
}
/*
 * slide show 
 */
.gkIsWrapper-gk_startup .gkIsImage .gkIsPrev {
  background-image: url('../images/chevron-left.png');
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsPrev:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsNext {
  background-image: url('../images/chevron-right.png');
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsNext:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsPagination {
  display: none;
}

/*
 * custom styling for section 5, because we stack two modules
 */
#gkBottom5 div.box {
  width: 100%;
  float: none;
  clear: both;
}

/*#gkBottom5 div.box.centered {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important
}*/

/*
 * e-commerce providers
 */
#lsEcommerceProviders div.gkIconArea {
  height: 100px;
}

/*
 * blog
 */
section.blog-featured {
  margin-left: 10%;
  margin-right: 10%;
}

section.blog-featured header h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
  /*padding-bottom: 15px;*/
  /*text-align: center;*/
}
/*
 * faq
 */
.item-pagefaq h2 {
  margin-bottom: 1em;
}

/*
 * about page
 */
.item-pageabout h2 {
  margin-bottom: 1em;
}

/*.item-pagecareers h2 {
  margin-bottom: 1em;
}*/

/*
 * careers page
 */
#gkMainbody .item-pagecareers div.box {
  padding-top: 0px !important;
}

/*
 * sub-menu
 */
.gkmenu a {
  text-decoration: none;
}



/*
 * temporary stuff
 */
.lsRocket1 {
  background-image: url('../images/style1/gkrocket.png');
}

.lsCrop1 {
  background-image: url('../images/style1/gkcrop.png');
}

.lsMobile1 {
  background-image: url('../images/style1/gkmobile.png');
}