/*
 * overrides for limespot.com
 */

/*
 * navbar
 */

/* home page */
.imageBg #gkLogo.cssLogo, #gkMenuWrap #gkLogo.cssLogo {
  background-image: url('../../../images/logo.png');
  margin-top: 24px;
}

.imageBg #gkHeader > div:first-child, .page #gkMenuWrap {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.imageBg #gkHeaderMod input[type="submit"] {
  background-color: rgb(75,175,75);
}

.gkmenu a {
  text-decoration: none;
}

#lsSignup {
  height: 81px;
  float: right;
  margin-left: 10px;
}

#lsSignup a {
  position: relative;
  top: 25%;
}

/* other pages */
body.page #gkMenuWrap {
  height: 81px;
}

body.page nav  > ul > li > a {
  color: #fff;
}

body.page #gkMenuWrap #gkMainMenu {
  margin-top: 11px;
}

/*
 * header
 */
.imageBg #gkHeaderMod h1 {
  color: black;
}

.imageBg #lsHeaderTagline2 h2 {
  color: rgb(0,210,221);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.imageBg #lsHeaderTagline2 h3 {
  color: black;
}

.imageBg #gkHeader {
  background: #fff url('../../../images/bg.jpg') no-repeat;
}

.imageBg #gkHeaderMod {
  padding-bottom: 500px;
  padding-top: 120px;
}

.imageBg #gkHeaderMod .gk-form {
  background: none;
  border: none;
}

#gkHeader div.row {
  margin-bottom: 4em;
}

#gkHeader div.row:last-child {
  margin-bottom: 0;
}

.imageBg #gkHeaderMod .gk-form {
  margin-top: 0;
}

.imageBg #gkHeaderMod .gk-video-link {
  background-image: url('../images/play-icon-48.png');
  background-position-x: left;
  color: rgb(105,105,105);
  font-weight: 400;
  height: 64px;
  line-height: 64px;
  padding-left: 58px;
  padding-top: 0px;
}

.imageBg #gkHeaderMod .gk-video-link:hover {
    background-position-x: 5px;
    color: #fec54c;
}

#gkHeader div.video {
  padding-top:20%;
}

/*
 * simplcity overrides
 */

/* grid/icon layout stuff */
.gkIconArea {
  background: none;
  margin-bottom: 0px;
  width: 200px;
  height: 110px;
}
.gkIconArea > a {
  background-repeat: no-repeat;
}
.gkIcons > div h2 {
  margin-bottom: 0px; 
}
.gkIcons.bi > div {
   width: 50%;
   margin-bottom:4em;
}
box.centered.inline .gkIcons {
  margin-top: 0px;
}

/* image slider */
.gkHorizontalSlide {
  margin-left: 10px;
}
.gkHorizontalSlideRightColumn {
  border-right: none;
  margin-bottom:-100px;
}
.gkHorizontalSlideRightColumn img {
  border: 1px solid #eee;
}
.gkHorizontalSlideLeftColumn a.button, a.button {
  background-color: rgb(75,175,75);
}
 
/* slide show  */
.gkIsWrapper-gk_startup .gkIsImage .gkIsPrev {
  background-image: url('../images/chevron-left.png');
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsPrev:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsNext {
  background-image: url('../images/chevron-right.png');
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsNext:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.gkIsWrapper-gk_startup .gkIsImage .gkIsPagination {
  display: none;
}

/*
 * utility classes
 */
.lsSuperscript {
  vertical-align: super;
}
h2 span.lsSuperscript {
  font-size: 16px;
} 
.marg-bot-1 {
  margin-bottom: 0.5em !important;
}
p.lsLeftwise {
clear: both;
font-size: 18px;
font-weight: 300;
}
.gkCentered {
  margin-bottom:0.5em;
}
ul.bullet {
  margin-left: 40px;
}
ul.bullet li {
  list-style-type: disc;
  border-bottom: 0;
  padding: 0px 0px;
}

.lsVerticalSpace25 div.row {
  margin-bottom: 25px;
}

img.lsImgBorder {
  border: 1px solid #eee;
}

/*
 * icons
 */
.lsIcon {
  text-align: left;
  background-repeat: no-repeat;
  background-position-y: 50%;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lsIcon-personal {
  background-image: url('../../../images/personal.png');
}
.lsIcon-secure {
  background-image: url('../../../images/secure.png');
  /*padding-left: 26px;*/
}
.lsIcon-easy {
  background-image: url('../../../images/easy.png');
  /*padding-left: 31px;*/
}
.lsIcon-fun {
  background-image: url('../../../images/fun.png');
  /*padding-left: 28px;*/
}
.lsNewSalesChannel {
  background-image: url('../../../images/new_sales_channel.png');
}
.lsTargetYourProducts {
  background-image: url('../../../images/target_your_products.png');
}
.lsSeamlessIntegration {
  background-image: url('../../../images/seamless_integration.png');
}
.lsBrandedCatalogs {
  background-image: url('../../../images/branded_catalogs.png');
}

/*
 * custom page styling
 */ 

/* home page */
#gkBottom5 div.box {
  width: 100%;
  float: none;
  clear: both;
}
#lsEcommerceProviders div.gkIconArea {
  height: 100px;
}
.lsTargetIcons img {
 display: table-cell;
 margin-left: auto;
 margin-right: auto;
}

/* other */
article aside {
  display: none;
}
article header {
  margin-bottom: 0px;
}
div.itemBody.containsItemInfo {
  margin-left: 10%;
  margin-right: 10%;
}

/* blog */
section.blog-featured {
  margin-left: 10%;
  margin-right: 10%;
}
section.blog-featured header h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
}

/* faq */
.item-pagefaq h2 {
  margin-bottom: 1em;
}

/* about page */
#gkMainbody article.item-pageabout div.box.centered {
  padding-top: 10px !important;
  padding-bottom: 25px !important;
  margin-bottom: 0px
}
#gkMainbody article.item-pageabout div.box.centered.inline {
  padding-top: 0px !important;
  margin-top: 0px !important;
}
.item-pageabout h2 {
  margin-bottom: 1em;
}

/* careers page */
#gkMainbody .item-pagecareers div.box {
  padding-top: 0px !important;
}
