/*
 * JD: override of tablet layout
 */

#gkMainMenu {
  display: inherit !important;
}
#gkExtraMenu {
  display: inherit !important;
}

.imageBg #gkHeader {
  background-image: url('../../../images/bg_tablet.jpg');
  /*background-color: rgb(50,50,50);*/
}

.imageBg #gkHeaderMod {
    padding-top: 100px;
    padding-bottom: 500px;
}

.imageBg #lsHeaderTagline2 h2 {
  font-size: 40px;
}

#gkHeader div.row {
  margin-bottom: 1em;
}

/*
 * force mobile menu to engage at smaller form factor
 */
#gkMobileMenu {
  background-image: none;
}

#gkMenuWrap #gkMobileMenu {
  background-image: none;
}

.imageBg #gkHeaderMod .gk-form {
  margin-top: 0;
}

.gkIconArea {
  height: 110px;
}