/*
 * JD: override of tablet layout
 */

.imageBg #gkHeader {
  background-image: none;
  background-color: rgb(50,50,50);
}

#gkMenuWrap #gkMobileMenu {
  background-image: url('../images/tablet_menu.png');
}