/*
 * overrides for small screens (phones)
 */

.ls-section {
  padding-left:2%;
  padding-right:2%;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

#seamless-integration img {
  margin-bottom: 2em;
}
