<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% include head-assets.html %}

    {% if page.name == 'home' %}
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <style>
      #slides {
        display:none;
      }
    </style>
    {% endif %}
    
  </head>
  
  <body onload="limespot.init()">
    {% include nav.html %}
      
    <div class="ls-page {{ page.class }}">
      {{ content }}

      {% include footer.html %}
    </div>

    {% include body-assets.html %}
    
    {% include ga.html %}
    
    {% if page.name == 'home' %}
    <script src="js/jquery.bxslider.min.js"></script>
    <script>
      // randomize images for slides
      var images = limespot.shuffle(['img/bg-male2.jpg','img/bg-female2.jpg','img/bg-gift.jpg']);
      for (var i = 0; i < images.length; i++) {
        $("#slides").append('<li><img src="'+images[i]+'"></img></li>');
      }

      $(document).ready(function() {
        $('#slides').show();
        $('.bxslider').bxSlider({
          auto: true,
          mode: 'fade',
          speed: 1000,
          pause: 15000,
          autoHover: true
        });
      });
    </script>
    {% endif %}
    

  </body>
</html>
