<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% root_path %}img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"/>

    <link href="{% root_path %}css/bootstrap-3.0.3.min.css" rel="stylesheet"/>
    <link href="{% root_path %}css/style.css" rel="stylesheet"/>
    <link href="{% root_path %}css/style.md.css" rel="stylesheet" media="(max-width: 992px)"/>
    <link href="{% root_path %}css/style.xs.css" rel="stylesheet" media="(max-width: 768px)"/>

    <script src="{% root_path %}js/app.js"></script>

    {% if page.name == 'home' %}
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <style>
      #slides {
        display:none;
      }
    </style>
    {% endif %}
    
  </head>
  
  <body onload="limespot.init()">
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target="#ls-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% root_path %}">LimeSpot</a>
      </div>

      <div class="collapse navbar-collapse" id="ls-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% if page.name == 'home' %}active{%endif%}">
            <a href="{% root_path %}">Home</a>
          </li>
          <li class="dropdown {% if page.name =='about' or page.name == 'faq' or page.name == 'contact' %}active{%endif%}">
            <a href="{% root_path %}about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% root_path %}about">Background</a></li>
              <li><a href="{% root_path %}faq">FAQs</a></li>
              <li><a href="{% root_path %}contact">Contact</a></li>
            </ul>
          </li>
          <li class="{% if page.name == 'careers' %}active{%endif%}"><a href="{% root_path %}careers">Careers</a></li>
          <li class="ls-nav-button">
            <a href="{% root_path %}preregister" class="ls-btn">Pre-register</a>
          </li>
        </ul>
      </div>
    </nav>
      
    <div class="ls-page {{ page.class }}">
      {{ content }}

      <div class="ls-footer">
        <p class="ls-copyright text-right">
          &copy; LimeSpot Solutions, Inc. All rights reserved.
        </p>
      </div>
    </div>

    <script src="{% root_path %}js/jquery-1.10.2.min.js"></script>
    <script src="{% root_path %}js/bootstrap-3.0.3.min.js"></script>

    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-43534250-1', 'limespot.com');
      ga('send', 'pageview');
    </script>

    {% if page.name == 'home' %}
    <script src="js/jquery.bxslider.min.js"></script>
    <script>
      // randomize images for slides
      var images = limespot.shuffle(['img/bg-male2.jpg','img/bg-female2.jpg','img/bg-gift.jpg']);
      for (var i = 0; i < images.length; i++) {
        $("#slides").append('<li><img src="'+images[i]+'"></img></li>');
      }

      $(document).ready(function() {
        $('#slides').show();
        $('.bxslider').bxSlider({
          auto: true,
          mode: 'fade',
          speed: 1000,
          pause: 15000,
          autoHover: true
        });
      });
    </script>
    {% endif %}
    

  </body>
</html>
